<div class="row">

    {{!-- <div class="author-container">
					<h1>Vendors Name {{user.name}}</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th># of Posts</th>
								<th>See Author's Posts</th>
								<th>New Post</th>
								<th>Delete Author</th>
							</tr>
						</thead>
						<tbody>
							<tr id="form-row">
								<form id="author-form">
									<td colspan="4">
										<input placeholder="Enter a name" id="author-name" type="text" />
									</td>
									<td><button type="submit" class="btn btn-success">Create Author</button>
									</td>
								</form>
							</tr>
						</tbody>
					</table>
				</div> --}}
    {{!-- <img src="\img\tomatoes-1459069_960_720.jpg" alt=""> --}}
    <div>
        {{user.id}}
    {{user.name}}
        <ul id="example-list" class="list-group">
            {{#each user}}
            {{!-- <li  class="list-group-item mb-2"> --}}
                <p>{{this.name}}</p>
                <button class="btn btn-outline-success float-right delete">ｘ</button>
            {{!-- </li> --}}
            {{/each}}
        </
    </div>
    {{!-- <div class="card-bod        <h5 class="card-title">name: {{user.id}}</h5>
        {{#each user}}
       <p>
          <strong>ID</strong>: {{example.text}}</p>
        <p> 
        <p>
            <strong>Name</strong>: {{Examples.text}}</p>
        <p>
            <strong>Price</strong>: {{example.price}}</p>
        <p>
            <strong>Quantity</strong>: {{example.quantity}}</p>
        <p>
            <strong>Image</strong>: <img src="{{example.image}}" height="200" alt="Image preview..."></p> 
        <p>
            <strong>Description:</strong> {{example.description}}</p>
        {{/each}}
    </div> --}}


    {{#if user}}
    <a href="/profile">← Back To Home</a>
    {{/if}}
    {{#unless user}}
    <a href="/market">← Back To Home</a>
    {{/unless}}
</div>